.vscode/**
.vscode/** */
.vscode-test/**
.gitignore
test/**
node_modules/**
memory-bank/**
scripts/**
src/**
webpack.*.js
*.vsix
.github/**
docs/**
examples/**
media/**/*.psd
media/**/*.ai
**/*.map
**/*.ts
!dist/**
eslint.config.mjs
.prompts/**
.roomodes